.label_hidden {
  display: none;
}

.board {
  width: 40vw;
  height: 40vw;
  border: 2px solid black;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  transition: transform 1.2s ease-in-out;
  transform-origin: bottom left;
}

.board_size_s {
  transform: scale(0.85);
}

.board__cell {
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}

.board__shot {
  opacity: 1;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__target {
  width: fit-content;
  height: fit-content;
  font-size: 3.5vw;
  margin-top: -0.3vw;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.board__shot::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.board_hit::after {
  background: red;
}

.board_miss::after {
  background: blue;
}
