@import './styles/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import './styles/setup.css';
@import './styles/modal.css';
@import './styles/console.css';

.body {
  min-height: 100vh;
  box-sizing: border-box;
  background: lightgrey;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight: 700;
  letter-spacing: 0.1rem;
  overflow-y: hidden;
}

.header {
  padding-top: 3vh;
  text-align: center;
  font-size: max(1.5rem, 5vw);
  letter-spacing: 1rem;
  margin: 0;
  margin-bottom: 2vh;
  position: relative;
  z-index: 101;
}

.h1 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 2vw;
  margin: 0 2vw;
  justify-content: space-evenly;
}

.github-link {
  position: fixed;
  top: 10px;
  right: 10px;
  height: fit-content;
  width: fit-content;
  z-index: 102;
}

.github-img {
  content: url('./assets/github-mark.png');
  height: auto;
  width: auto;
  max-width: 40px;
  max-height: 40px;
}
