.ship {
  --length: 200%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
  box-sizing: border-box;
  opacity: 0.5;
}

.ship-port .ship::before {
  min-width: 3.7vw;
  min-height: 3.7vw;
  max-width: 3.7vw;
  max-height: 3.7vw;
  font-size: 3.7vw;
  text-align: center;
  content: '✥';
  display: block;
  background: rgba(255, 255, 255, 0.4);
}

.board_player2 .ship {
  display: none;
}

.board_player2 .ship.ship_sunk {
  display: block;
}

.ship_sunk {
  opacity: 0.8;
}

.ship_is-horizontal_true {
  background: rebeccapurple;
  width: var(--length);
}

.ship_is-horizontal_false {
  background: blueviolet;
  height: var(--length);
  /*
  transform: translateY(-100%) rotate(90deg);
  transform-origin: bottom left;
  */
}

.ship_length_5 {
  --length: calc(500% + 8px);
}

.ship_length_4 {
  --length: calc(400% + 6px);
}

.ship_length_3 {
  --length: calc(300% + 4px);
}

.ship_length_2 {
  --length: calc(200% + 2px);
}
