.ship {
  width: 100%;
  height: 100%;
  --length: 300%;
  position: relative;
  z-index: 99;
  box-sizing: border-box;
}

.ship_is-horizontal_true {
  background: rebeccapurple;
  width: var(--length);
}

.ship_is-horizontal_false {
  background: blueviolet;
  height: var(--length);
}

.ship_length_5 {
  --length: calc(500% + 8px);
}

.ship_length_4 {
  --length: calc(400% + 6px);
}

.ship_length_3 {
  --length: calc(300% + 4px);
}

.ship_length_2 {
  --length: calc(200% + 2px);
}
